<h1>Listing users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody data-bind='template: "userTemplate"'>
  </tbody>
</table>

<br />

<%= link_to 'New User', new_user_path %>

<script type="text/html" charset="utf-8" id="userTemplate">
  {{each filteredUsers}}
    <tr>
      <td>${ user.name }</td>
      <td>${ user.email }</td>
      <td><%= link_to 'Show', user_path_js('${user.id}') %></td>
      <td><%= link_to 'Edit', edit_user_path_js('${user.id}') %></td>
      <td><%= link_to 'Destroy', user_path_js('${user.id}'), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  {{/each}}
</script>

<script type="text/javascript" charset="utf-8">
  var users = <%= raw @users.to_json %>
  var observable_users = $.map(users, function(elem) {
    elem.user.hidden = ko.observable(false);
    return elem;
  });
  var viewModel = {
    users: ko.observableArray(observable_users),
    userFilters: ko.observableArray([]),
  }
  viewModel.filteredUsers = ko.dependentObservable(function() {
    return $.grep(viewModel.users(), function(element) {
      return $.inArray(element.user.name, viewModel.userFilters()) < 0;
    });
  });
  ko.applyBindings(viewModel);
</script>
