<!DOCTYPE html>
<html>
<head>
  <title>Knockoutonrails</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js' %>
  <%= javascript_include_tag 'rails', 'jquery.tmpl.min.js', 'knockout-1.1.2' %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
